<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>11691</string>
	<key>ClientSecret</key>
	<string>ec9f3d5506332dce4cf6361ba0ba139f</string>
	<key>ServerBaseURL</key>
	<string>https://www.deviantart.com/</string>
	<key>APIBasePath</key>
	<string>api/v1/oauth2/</string>
</dict>
</plist>
